/* src/components/Partners.css */

:root {
  --primary-color: #3b82f6;
  --layer-bg-color: rgba(2, 91, 235, 0.1);
}

.professional-section-wrapper {
  background-color: #fcfcfc;
  padding-top: 65px;
  padding-bottom: 45px;
}

/* নতুন যোগ করা হেডিংয়ের স্টাইল */
.section-main-title {
  color: #000000;
  font-weight: 800;
  text-align: center;
  margin-bottom: 45px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 24px;
}

.card-box {
  padding: 40px 25px;
  background: #ffffff;
  border-radius: 15px;
  text-align: center;
  transition: all 0.4s ease;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  border-top: 1px solid var(--primary-color);
  border-left: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
}

.card-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--layer-bg-color);
  transition: all 0.4s ease;
  z-index: 0;
}

.card-box:hover::before {
  left: 0;
}

.card-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}

.card-box h5, 
.card-box p, 
.card-box .icon-wrapper, 
.card-box a {
  position: relative;
  z-index: 1;
}

.icon-wrapper {
  color: var(--primary-color);
  background: #eef5ff;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  transition: 0.3s;
}

.card-box:hover .icon-wrapper {
  background: var(--primary-color);
  color: #ffffff;
}

.custom-box-width {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}