/* Swiper Pagination */
.swiper-pagination-bullet-active {
  background-color: #2a7af1 !important;
}

/* পুরো সেকশনের জন্য মার্জিন (টপ এবং বটম) */
.py-5 {
  margin-top: 50px !important;    /* এখানে আপনার প্রয়োজন অনুযায়ী পিক্সেল বসাতে পারেন */
  margin-bottom: 50px !important; /* এখানে আপনার প্রয়োজন অনুযায়ী পিক্সেল বসাতে পারেন */
}


